.entireModal{
   position: fixed; 
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%);
   padding: 10px;
   z-index: 1000;
    background-color: rgba(204, 202, 202, 0.915);
    border-radius: 10px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0; 
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}

#discoverEventsModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

textarea{
    background: transparent;
    border-radius: 3px;
    border: 1px solid black;
}

input[type=submit] {
    background: transparent;
    padding: 1.5px 15px;
    background-color: rgba(190, 187, 187, 0.561);
    border-radius: 5px;
    border: 1px solid;
}

.entireModal input[type=submit] {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 5px;
}

.entireModal .modalCloseButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
