.container {
    width: 50px;
    margin: auto;
    text-align: center;
  }
  
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    background: rgb(168, 168, 168);
    cursor: pointer;
    border-radius: 50px;
    border: none;
  }
  
  .back-to-top:hover {
    box-shadow: 0 5px 10px rgb(126, 126, 126);
  }