#pageDisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pageDisplay p{
    margin: 0px 25px; 
}

#pageDisplay button img{
    width: 20px ;
    height: 20px ; 
}

#pageDisplay button{
    background-color: #160f2968;
    border: none;
}








