@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.entireUserInfo{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 30px;
    // margin: 1% 30%;
    filter: drop-shadow(0 0 1rem rgb(189, 187, 187));
}

.userInfo{
    text-align: center;

}

#userPic{
    border-radius: 50%;
}

#profileHeader{
    font-family: 'Lato','Courier New', 'Courier', 'monospace';
    margin: 0px;
    margin-bottom: 20px;

    margin: 20px; 
    font-size: 40px;
    display: flex;
    justify-content: left;
    font-weight: 250;
}

#profileLogOut{
    color: black;
}