#sEventImage{
    width: 25vw; 
    height: 30vh;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 5px;

    // width: 100%; 
    // height: 30vh;
    // height: 50vh;
    // margin-top: 10px;
    // border-radius: none;
}

.eventCard{
    background-color: darkgrey;
}

#inviteeNames{
   text-align: center;
}

#guestNames{
    text-align: center;
}

.scheduledButtons{
    margin-top: 1px;
    margin-bottom: 5px;
}

.scheduledButtons:first-child{
    background-color: black;
}

#schCalIcon{
    width: 24px;
    height: 24px;
}



